{% extends 'base.html.twig' %}

{% block title %}Battery{% endblock %}

{% block body %}
    <turbo-frame id="content">
        <section class="bg-white dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 ">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                    Battery
                </h2>
                <p class="mb-3 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
                    The Battery API provides information about the battery status of the device.
                    <br>
                </p>
                <twig:Battery />
            </div>
        </section>
    </turbo-frame>
{% endblock %}
